*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.containerHeader{
    background-image: url(../images/banner-bk.jpg);
    width: 100%;
    height: 40rem; 
    padding-left: 10%;
}
.containerHeader > .firstContainerHeader{
    width: 90%;
    height: 7rem;
    display: flex;
    justify-content: space-between;
}
.firstContainerHeader > .subContainerHeader1{
    width: 10%;
    height: 6rem;
}
.subContainerHeader1 > .imgHeader{
    width: 6rem;
    height: 6rem;
}
.firstContainerHeader > .subContainerHeader2{
    width: 15%;
    height: 6rem;
    display: flex;
    align-items: center;
}
.subContainerHeader2 > .firstTittle{
    color: #fafffd;
}
.subTittleMini{
    color: #fafffd;
}
.secondContainerHeader{
    width: 90%;
    height: 25rem;
}
.secondContainerHeader > .subContainerHeader3{
    width: 90%;
    height: 18rem;
    display: flex;
    align-items: center;
}
.subContainerHeader3 > .tittleBig{
    color: #fafffd;
    font-size: 70px;
    font-family: Arial, Helvetica, sans-serif;
}
.secondContainerHeader > .subContainerHeader4{
    width: 90%;
    height: 7rem;
    display: flex;
    align-items: center;
}
.subContainerHeader4 > .subTittleMini{
    color: #fafffd;
    font-size: 19px;
    font-family: serif;
}
.thirdContainerHeader{
    width: 90%;
    height: 5rem;
}
.thirdContainerHeader > .buttonContainer{
    width: 100%;
    height: 4rem;
    display: flex;
    align-items: center;
}
.buttonContainer > .firstButton{
    width: 12%;
    height: 3rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 1000;
    color: #070a6e;
    background-color: #16d148;
    border-radius: 35%;
}
                       /* Aqui empezamos con el primer contenedor del body*/
.contentBody{
    width: 100%;
    height: 120rem;
    background-color: brown;
}

.firstContainerBody{
    width: 100%;
    height: 40rem; 
    background-color: white;
    padding-left: 5%;
}
.firstContainerBody > .cont1{
    width: 95%;
    height: 40rem;
    padding-left: 5%;
    padding-top: 3rem;
}
.cont1 > .firstSubcontainer1{
    width: 95%;
    height: 5rem;
    font-size: 26px;
    font-family: serif;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cont1 >.cont2{
    width: 95%;
    height: 30rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.cont2 > .firstSubcontainer2{
    width: 30%;
    height: 20rem;
}
.firstSubcontainer2 > .img1{
    width: 100%;
    height: 12rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.firstSubcontainer2 > .subTittle1_1{
    width:100% ;
    height: 2rem;
   
    font-size: 26px;
    font-family: serif;
    display: flex;
    justify-content: center;
    align-items: center;  
}
.firstSubcontainer2 > .text1_1{
    width:100% ;
    height: 7rem;
    font-size: 19px;
    font-family: serif;
    display: flex;
    justify-content: center;
    align-items: center; 
}
.cont2 > .firstSubcontainer3{
    width: 30%;
    height: 20rem;
}
.firstSubcontainer3 > .img2{
    width: 100%;
    height: 12rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.firstSubcontainer3 > .subTittle1_2{
    width:100% ;
    height: 2rem;
   
    font-size: 26px;
    font-family: serif;
    display: flex;
    justify-content: center;
    align-items: center;  
}
.firstSubcontainer3 > .text1_2{
    width:100% ;
    height: 7rem;
    font-size: 19px;
    font-family: serif;
    display: flex;
    justify-content: center;
    align-items: center; 
}
.cont2 > .firstSubcontainer4{
    width: 30%;
    height: 20rem;
}
.firstSubcontainer4 > .img3{
    width: 100%;
    height: 12rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.firstSubcontainer4 > .subTittle1_3{
    width:100% ;
    height: 2rem;
   
    font-size: 26px;
    font-family: serif;
    display: flex;
    justify-content: center;
    align-items: center;  
}
.firstSubcontainer4 > .text1_3{
    width:100% ;
    height: 7rem;
    font-size: 19px;
    font-family: serif;
    display: flex;
    justify-content: center;
    align-items: center; 
}

